USE [master]
GO
/****** Object:  Database [ESPEGIC]    Script Date: 10/11/2025 7:06:56 PM ******/
CREATE DATABASE [ESPEGIC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESPEGIC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ESPEGIC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESPEGIC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ESPEGIC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESPEGIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESPEGIC]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Password] [varchar](50) NOT NULL,
	[Login] [varchar](50) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classe]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Titre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClasseConfig]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClasseConfig](
	[ClasseID] [int] NOT NULL,
	[ExamenID] [int] NOT NULL,
	[PaiementID] [int] NOT NULL,
 CONSTRAINT [PK_ClasseConfig] PRIMARY KEY CLUSTERED 
(
	[PaiementID] ASC,
	[ExamenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eleve]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eleve](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](40) NOT NULL,
	[Prenom] [varchar](40) NOT NULL,
	[Genre] [varchar](40) NOT NULL,
	[Age] [varchar](40) NOT NULL,
	[Telephone] [varchar](40) NOT NULL,
	[ClasseID] [int] NOT NULL,
	[DateInscription] [date] NOT NULL,
	[Moyenne] [decimal](5, 2) NULL,
	[ResteApayer] [int] NULL,
	[MoisNonPayer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EleveConfig]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EleveConfig](
	[EleveID] [int] NOT NULL,
	[ExamenID] [int] NOT NULL,
	[PaiementID] [int] NOT NULL,
 CONSTRAINT [PK_EleveConfig] PRIMARY KEY CLUSTERED 
(
	[PaiementID] ASC,
	[ExamenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NbrExamen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamenMatiere]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamenMatiere](
	[ExamenID] [int] NOT NULL,
	[MatiereID] [int] NOT NULL,
 CONSTRAINT [PK_ExamenMatiere] PRIMARY KEY CLUSTERED 
(
	[ExamenID] ASC,
	[MatiereID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matiere]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matiere](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Matiere] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatiereNote]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatiereNote](
	[MatiereID] [int] NOT NULL,
	[NoteID] [int] NOT NULL,
 CONSTRAINT [PK_MatiereNote] PRIMARY KEY CLUSTERED 
(
	[MatiereID] ASC,
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Note] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paiement]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paiement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FraisInitial] [int] NOT NULL,
	[FraisMensuel] [int] NOT NULL,
	[NbrMois] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Eleve] ADD  DEFAULT (getdate()) FOR [DateInscription]
GO
ALTER TABLE [dbo].[Note] ADD  DEFAULT ((0)) FOR [Note]
GO
ALTER TABLE [dbo].[ClasseConfig]  WITH CHECK ADD  CONSTRAINT [FK_ClasseConfig_Classe] FOREIGN KEY([ClasseID])
REFERENCES [dbo].[Classe] ([ID])
GO
ALTER TABLE [dbo].[ClasseConfig] CHECK CONSTRAINT [FK_ClasseConfig_Classe]
GO
ALTER TABLE [dbo].[ClasseConfig]  WITH CHECK ADD  CONSTRAINT [FK_ExamenClasse_Eleve] FOREIGN KEY([ExamenID])
REFERENCES [dbo].[Examen] ([ID])
GO
ALTER TABLE [dbo].[ClasseConfig] CHECK CONSTRAINT [FK_ExamenClasse_Eleve]
GO
ALTER TABLE [dbo].[ClasseConfig]  WITH CHECK ADD  CONSTRAINT [FK_PaiementClasse_Paiement] FOREIGN KEY([PaiementID])
REFERENCES [dbo].[Paiement] ([ID])
GO
ALTER TABLE [dbo].[ClasseConfig] CHECK CONSTRAINT [FK_PaiementClasse_Paiement]
GO
ALTER TABLE [dbo].[Eleve]  WITH CHECK ADD FOREIGN KEY([ClasseID])
REFERENCES [dbo].[Classe] ([ID])
GO
ALTER TABLE [dbo].[EleveConfig]  WITH CHECK ADD  CONSTRAINT [FK_EleveConfig_Eleve] FOREIGN KEY([EleveID])
REFERENCES [dbo].[Eleve] ([ID])
GO
ALTER TABLE [dbo].[EleveConfig] CHECK CONSTRAINT [FK_EleveConfig_Eleve]
GO
ALTER TABLE [dbo].[EleveConfig]  WITH CHECK ADD  CONSTRAINT [FK_ExamenEleve_Examen] FOREIGN KEY([ExamenID])
REFERENCES [dbo].[Examen] ([ID])
GO
ALTER TABLE [dbo].[EleveConfig] CHECK CONSTRAINT [FK_ExamenEleve_Examen]
GO
ALTER TABLE [dbo].[EleveConfig]  WITH CHECK ADD  CONSTRAINT [FK_PaiementEleve_Paiement] FOREIGN KEY([PaiementID])
REFERENCES [dbo].[Paiement] ([ID])
GO
ALTER TABLE [dbo].[EleveConfig] CHECK CONSTRAINT [FK_PaiementEleve_Paiement]
GO
ALTER TABLE [dbo].[ExamenMatiere]  WITH CHECK ADD  CONSTRAINT [FK_ExamenMatiere_Examen] FOREIGN KEY([ExamenID])
REFERENCES [dbo].[Examen] ([ID])
GO
ALTER TABLE [dbo].[ExamenMatiere] CHECK CONSTRAINT [FK_ExamenMatiere_Examen]
GO
ALTER TABLE [dbo].[ExamenMatiere]  WITH CHECK ADD  CONSTRAINT [FK_ExamenMatiere_Matiere] FOREIGN KEY([MatiereID])
REFERENCES [dbo].[Matiere] ([ID])
GO
ALTER TABLE [dbo].[ExamenMatiere] CHECK CONSTRAINT [FK_ExamenMatiere_Matiere]
GO
ALTER TABLE [dbo].[MatiereNote]  WITH CHECK ADD  CONSTRAINT [FK_MatiereNote_Matiere] FOREIGN KEY([MatiereID])
REFERENCES [dbo].[Matiere] ([ID])
GO
ALTER TABLE [dbo].[MatiereNote] CHECK CONSTRAINT [FK_MatiereNote_Matiere]
GO
ALTER TABLE [dbo].[MatiereNote]  WITH CHECK ADD  CONSTRAINT [FK_MatiereNote_Note] FOREIGN KEY([NoteID])
REFERENCES [dbo].[Note] ([ID])
GO
ALTER TABLE [dbo].[MatiereNote] CHECK CONSTRAINT [FK_MatiereNote_Note]
GO
ALTER TABLE [dbo].[Eleve]  WITH CHECK ADD  CONSTRAINT [CK_Eleve_Age] CHECK  (([Age]>(0) AND [Age]<(50)))
GO
ALTER TABLE [dbo].[Eleve] CHECK CONSTRAINT [CK_Eleve_Age]
GO
/****** Object:  StoredProcedure [dbo].[spEleves_getAll]    Script Date: 10/11/2025 7:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEleves_getAll] AS
BEGIN

	SET NOCOUNT ON;

	SELECT ID, Nom, Prenom	from Eleves
END
GO
/****** Object:  StoredProcedure [dbo].[spEleves_getByPrenom]    Script Date: 10/11/2025 7:06:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEleves_getByPrenom] @Prenom VARCHAR(30)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT ID, Nom, Prenom, DateInscription	from Eleves WHERE Prenom = @Prenom
END
GO
USE [master]
GO
